# Hugging Face ecosystem
transformers>=4.41.1
accelerate>=0.30.1
sentence-transformers>=2.6.1
torch>=2.2.2
faiss-cpu>=1.7.4
accelerate

# PDF parsing
PyMuPDF>=1.23.22

# Web backend
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-dotenv>=1.0.1
pydantic>=2.7.1
requests
python-multipart

# UI for testing
streamlit>=1.35.0

# Testing
pytest>=8.2.1